[submodule "themes/contrast-hugo"]
	path = themes/contrast-hugo
	url = git@github.com:niklasbuschmann/contrast-hugo.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
