/* global */

body {
  font-family: -apple-system, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
}

/* table of tontents */

#TableOfContents {
  margin: 0 1em;
  padding: 0;
}

#TableOfContents ul {
  padding-left: 1.6em;
}
#TableOfContents a {
  margin: 0;
  padding: 0;
  color: #68f;
}

#TableOfContents li {
  padding: 0;
  margin: 0;
}

/* cui */

.cui {
  background-color: black;
  color: white;
  font-family: monospace;
}

.cui .magenta {
  color: magenta;
}
.cui .dgray {
  color: darkgray;
}
.cui .yellow {
  color: yellow;
}
.cui .cyan {
  color: cyan;
}
.cui .orangered {
  color: #ff5354;
}


/* date */

.meta {
  margin-top: .2em;
  margin-bottom: .5em;
  display: flex;
}

.pub-date {
}

.lastmod-date {
  margin: 0 0 0 1rem;
  display: flex;
}
.lastmod-date__label {
  margin: 0 0.25em 0 0;
  color: #949494;
}

/* tag and category label */

.tags-categories {
  margin-bottom: 1.5em;
}

.tags, .categories {
  display: flex;
  flex-direction: row;
}

.tags > p, .categories > p {
  margin: 0;
  padding: 0;
  color: #666;
  width: 6em;
  text-align: right;
}

.tags ul, .categories ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tags li {
  margin: 0 0 0 1em;
  padding: 0;
}

.categories li {
  margin: 0 0 0 10px;
  padding: 0;
}

.tags li a {
  position: relative;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 1em;
  background-color: #666;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 0 3px 3px 0;
}
.tags ul li a::before {
  position: absolute;
  top: 0;
  left: -10px;
  content: '';
  width: 0;
  height: 0;
  border-color: transparent #666 transparent transparent;
  border-style: solid;
  border-width: 10px 10px 10px 0;
}

.tags ul li a::after {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  display: block;
  content: '';
  width: 6px;
  height: 6px;
  margin-top: -3px;
  background-color: #fff;
  border-radius: 100%;
}

.categories li a {
  position: relative;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  padding: 0 calc(1em - 1px);
  color: #666;
  border: 1px solid #666;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
}

.tags li a:hover, .categories li a:hover {
  opacity: .7;
}

/*@media (prefers-color-scheme: dark) {
  .categories li a {
    color: #ccc;
    border-color: #ccc;
  }
}*/
