{{ define "main" }}

{{ $baseURL := .Site.BaseURL }}
<article>
  <header>
    <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <div class="meta">
      {{ if .Date }}
      <div class="pub-date">
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "January 02, 2006" }}</time>
      </div>
      {{ end }}
      {{ if .Lastmod }}
      <div class="lastmod-date">
        <div class="lastmod-date__label">(last modified:</div>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Lastmod.Format "January 02, 2006" }}</time>
        <div class="lastmod-date__label">)</div>
      </div>
      {{ end }}
    </div>
    {{ with .Params.tags }}
    <div class="tags-categories">
      <div class="tags">
        <p>tags: </p>
        <ul class="tags_list">
          {{ range . }}<li class="tags_item"><a href="{{ $baseURL }}/tags/{{ lower . }}/">{{ . }}</a></li>{{ end }}
        </ul>
        {{ end }}
      </div>
      <div class="categories">
        <p>categories: </p>
        {{ with .Params.categories }}
        <ul class="categories_list">
          {{ range . }} <li class="tags_item"><a href="{{ $baseURL }}/categories/{{ lower . }}/">{{ . }}</a></li>{{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
  </header>
  {{ if eq .Params.toc true }}
    <aside>
      <h2>目次</h2>
      {{ .TableOfContents }}
    </aside>
    {{ end }}
  {{ .Content }}
</article>

{{ end }}
