<link rel="stylesheet" href="{{ .Site.BaseURL }}css/math.css">
<script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {delimiters: [
      {left: "$$", right: "$$", display: true},
      {left: "$", right: "$", display: false}]
    });

    // for shortcode "eq" and "displaymath".
    var tex = document.getElementsByClassName("tex");
    Array.prototype.forEach.call(tex, function(el) {
        if (el.classList.contains('displaystyle')) {
            katex.render(el.getAttribute("data-expr"), el, { displayMode: true });
        } else {
          katex.render(el.getAttribute("data-expr"), el);
        }
    });
  });
</script>
